body {
  background-color: antiquewhite;
}
rectangle {
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
  height: 128px;
  width: 512px;
}
rectangle1 {
  box-sizing: content-box;
  background-color: aquamarine;
}
rectangle2 {
  box-sizing: border-box;
  background-color: azure;
}
