body {
  background-color: antiquewhite;
}
.first-box {
  box-sizing: content-box;
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
  height: 128px;
  width: 512px;
  background-color: aquamarine;
}
.second-box {
  box-sizing: border-box;
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
  height: 128px;
  width: 512px;
  background-color: azure;
}
