.rectangle {
  width: 420px;
  height: 140px;
  background-color: bisque;
  font-size: 24px;
  margin: 50px 100px;
  border-width: 10px 20px;
  border-style: solid solid dashed dashed;
  border-color: firebrick chartreuse burlywood aqua;
  padding: 20px;
}
